<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

#H1:Data Science Tools and Ecosystem

In [4]:
'In this notebook, Data Science Tools and Ecosystem are summarized.'

'In this notebook, Data Science Tools and Ecosystem are summarized.'

In [6]:
"In this notebook, Data Science Tools and Ecosystem are summarized."

'In this notebook, Data Science Tools and Ecosystem are summarized.'

In [7]:
In this notebook, Data Science Tools and Ecosystem are summarized.

SyntaxError: invalid syntax (356759017.py, line 1)

In [8]:
'In this notebook, Data Science Tools and Ecosystem are summarized.'

'In this notebook, Data Science Tools and Ecosystem are summarized.'

In [27]:
'Some of the popular languages that Data Scientists use are:'
\'1.Python'\'2.SQL''3.Julia'

'3.Julia'

#Some of the popular languages that Data Scientists use are:
 1. Python
 2. SQL
 3. R

In [36]:
'1- Python'

'1- Python'

In [38]:
2-SQL

NameError: name 'SQL' is not defined

In [41]:
#creat cell
3.

3.0

#Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Pandas

In [1]:
| Data Science Tools |
| ------------------ |

SyntaxError: invalid syntax (3702850703.py, line 1)

| Data Science Tools |
| ------------------ |
| Apache Sparks |
| MySQL |
| MongoDB |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

In this notebook, Data Science Tools and Ecosystem are summarized

***Objectives:***
- Python
- Scala
- Julia
- SQL
- MATLAB

## Author
Pratikkumar Patel

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. Numpy